<form action="/api/products" method="post">
    <label for="title">Nombre</label>
    <input type="text" name="title" required>
    <label for="description">Descripción</label>
    <input type="text" name="description" required>
    <label for="price">Precio</label>
    <input type="number" name="price" required>
    <label for="code">Código</label>
    <input type="text" name="code" required>
    <label for="stock">Stock</label>
    <input type="number" name="stock" required>
    <label for="thumbnail">Imagen</label>
    <input type="text" name="thumbnail">
    <label for="picture">Imagen</label>
    <input type="file" name="picture">
    <button type="submit">Enviar</button>
</form>